<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for C-Sharp" Description="Code analysis rules for projects in C-Sharp solution" ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1000" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1408" Action="None" />
    <Rule Id="CS1573" Action="None" />
    <Rule Id="CS1591" Action="None" />
    <Rule Id="CS1723" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>
