<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Ascension" Description="Code analysis rules for projects in Ascension solution" ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="Warning" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1124" Action="Warning" />
    <Rule Id="SA1201" Action="Warning" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>